####################################################################################
#   Eddy Variables
####################################################################################

[save_variables]
filename: /home/pi/printer_data/config/eddy-variables.cfg  # Variable storage file path


####################################################################################
#   Eddy Macros
####################################################################################

# If you are using Eddy as both a probe and a home limit switch and want to use the beta Z offset control
[delayed_gcode RESTORE_PROBE_OFFSET]  # Delayed G-code: restore probe offset
initial_duration: 1  # Initial delay time (seconds)
gcode:
  {% set svv = printer.save_variables.variables %}
  {% if not printer["gcode_macro SET_GCODE_OFFSET"].restored %}
    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE={ svv.nvm_offset|default(0) }
    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=restored VALUE=True
  {% endif %}

# If Eddy is used as both a probe and a homing limit switch - See Sensorless Homing - Kyle
# [gcode_macro G28]  # Homing macro command
# rename_existing: G28.1  # Rename the original command
# gcode:
#   G28.1 {rawparams}  # Execute the original homing command
#   {% if not rawparams or (rawparams and 'Z' in rawparams) %}
#     PROBE  # Perform probing
#     SET_Z_FROM_PROBE  # Set the Z axis position based on the probe result
#   {% endif %}

# If Eddy is used as both a probe and a homing limit switch
[gcode_macro SET_Z_FROM_PROBE]  # Set Z axis based on probe result
gcode:
    {% set cf = printer.configfile.settings %}
    SET_GCODE_OFFSET_ORIG Z={printer.probe.last_z_result - cf['probe_eddy_current fly_eddy_probe'].z_offset + printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset}
    G90  # Switch to absolute coordinate mode
    G1 Z10  # Raise Z axis to safe height

# If Eddy is used as both a probe and a homing limit switch, and you want to use the beta Z offset control
[gcode_macro Z_OFFSET_APPLY_PROBE]  # Z offset application macro
rename_existing: Z_OFFSET_APPLY_PROBE_ORIG  # Rename the original command
gcode:
  SAVE_VARIABLE VARIABLE=nvm_offset VALUE={ printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset }  # Save the offset to variable
  M117 Save successful

# If Eddy is used as both a probe and a homing limit switch, and you want to use the beta Z offset control
[gcode_macro SET_GCODE_OFFSET]  # G-code offset setting macro
rename_existing: SET_GCODE_OFFSET_ORIG  # Rename the original command
variable_restored: False  # Marks whether the variable has been restored from non-volatile storage
variable_runtime_offset: 0  # Runtime offset
gcode:
  {% if params.Z_ADJUST %}  # If a Z adjustment parameter exists
    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE={ printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset + params.Z_ADJUST|float }
  {% endif %}
  {% if params.Z %} 
    {% set paramList = rawparams.split() %}
    {% for i in range(paramList|length) %}
      {% if paramList[i]=="Z=0" %}
        {% set temp=paramList.pop(i) %}
        {% set temp="Z_ADJUST=" + (-printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset)|string %}
        {% if paramList.append(temp) %}{% endif %}
      {% endif %}
    {% endfor %}
    {% set rawparams=paramList|join(' ') %}
    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE=0
  {% endif %}
  SET_GCODE_OFFSET_ORIG { rawparams }  # Execute the original offset setting command