####################################################################################
#   Eddy Calibration
####################################################################################

  [gcode_macro _LDC_CALIBRATE_DRIVE_CURRENT]
gcode:
    BED_MESH_CLEAR
    SET_KINEMATIC_POSITION x=100 y=100 z=10
    G28 X Y
    M104 S0
    M140 S0
    M106 S0
    #G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y / 2} F6000
    go_absolute
    G0 X175 Y175 F6000
    go_relative
    G0 Z30 F600
    G4 P1000
    LDC_CALIBRATE_DRIVE_CURRENT CHIP=fly_eddy_probe 
    G4 P1000
    SAVE_CONFIG

[gcode_macro PROBE_EDDY_CURRENT_CALIBRATE_AUTO]
gcode:
    BED_MESH_CLEAR
    G28 X Y
    M104 S0
    M140 S0
    M106 S0
    G90 # Abs positioning
    G1 X{ printer.toolhead.axis_maximum.x/2 } Y{ printer.toolhead.axis_maximum.y/2 } F6000
    {% if 'z' not in printer.toolhead.homed_axes %}
        SET_KINEMATIC_POSITION Z={ printer.toolhead.axis_maximum.z-1 } # Allows the user to work it down until it touches.
    {% endif %}
    PROBE_EDDY_CURRENT_CALIBRATE {rawparams}

[gcode_macro TEMP_COMPENSATION]
description: Temperature compensation calibration process
gcode:
    {% set bed_temp = params.BED_TEMP|default(110)|int %}
    {% set nozzle_temp = params.NOZZLE_TEMP|default(250)|int %}
    {% set temperature_range_value = params.TEMPERATURE_RANGE_VALUE|default(3)|int %}
    {% set desired_temperature = params.DESIRED_TEMPERATURE|default(80)|int %}
    {% set Temperature_Timeout_Duration = params.TEMPERATURE_TIMEOUT_DURATION|default(6500000000)|int %}
        # Safety check: ensure all axes are not locked
        {% if printer.pause_resume.is_paused %}
            { action_raise_error("Error: Printer is paused, please resume first") }
        {% endif %}
        # Step 1: Home all axes
        STATUS_MESSAGE="Homing all axes..."
        G28
        STATUS_MESSAGE="Homing completed"
        # Step 2: Automatic leveling
        #Z_TILT_ADJUST
        #quad_gantry_level
        # Step 3: Safely raise Z axis
        STATUS_MESSAGE="Raising Z axis..."
        G90
        G0 Z5 F2000  # Raise slowly to prevent collision
        # Step 4: Set timeout and temperature calibration
        SET_IDLE_TIMEOUT TIMEOUT={Temperature_Timeout_Duration}
        STATUS_MESSAGE="Starting temperature probe calibration..."
        TEMPERATURE_PROBE_CALIBRATE PROBE=fly_eddy_probe TARGET={desired_temperature} STEP={temperature_range_value}
        # Step 5: Set print temperature (modify based on actual needs)
        STATUS_MESSAGE="Setting working temperature..."
        SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={bed_temp}
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET={nozzle_temp}
        # Completion message
        STATUS_MESSAGE="Temperature compensation process completed!"
        # description: G-Code macro
