####################################################################################
#  [X/Y Stepper Settings]
####################################################################################

#   B ------------ A
#   |              |
#   |------E-------|  
#   |              |
#   |              |
#   |              |
# stealthchop_threshold:
# 0 → SpreadCycle only (performance, torque) - X/Y/E
# 999999 → StealthChop only (silence, smoothness) - Z

[stepper_x]                        ## Connect to X motor (B motor) Connected to X-MOT (B Motor)
step_pin: PE2                       # X-axis motor pulse pin setting
dir_pin: PE3                        # X-axis motor direction pin setting
enable_pin: !PD4                    # X-axis motor enable pin setting
rotation_distance: 40               # Driving pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
microsteps: 16                      # Motor Segmentation Setting
full_steps_per_rotation:200         # The number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
#endstop_pin: sb2040:gpio29                 # Limit switch PIN setting (X-) - Sensorless Home Replaced
endstop_pin: tmc2209_stepper_x:virtual_endstop # Sensorless Homing
position_min: 0                     # X-axis minimum stroke--software limit
position_endstop: 355               # The mechanical reset point coordinates of the X-axis (if it is a 300 model, it needs to be changed to 300)
position_max: 355                   # X-axis maximum stroke--software limit (if it is a 300 model, it needs to be changed to 300)
#homing_speed: 25                   # Reset speed max 100 - Sensorless Homing
homing_speed: 100                   # Reset speed max 100 - Sensorless Homing
#homing_retract_dist: 5             # The retreat distance after the reset switch is triggered for the first time
homing_retract_dist: 0              # Sensorless homing
##homing_positive_dir: true           # Reset direction (generally no need to change)

[tmc2209 stepper_x]                 # stepper motor-x tmc2209 driver
uart_pin: PE1                       # Communication port pin definition
diag_pin: ^PG14
interpolate: true                   # Whether to enable 256 microstep interpolation ## Was True
run_current: 0.8                    # Motor running current value
sense_resistor: 0.110               # Do not change the drive sampling resistor
stealthchop_threshold: 200          # Mute Threshold
diag_pin: ^PG14                     # Sensorless Homing - Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 150                  # Sensorless Homing - 255 is most sensitive value, 0 is least sensitive
# Min + (Max - Min) / 3 = 70 + (111 - 70) / 3 = 83


[stepper_y]                        ## Connect to Y motor (A motor) Connected to X-MOT (B Motor)
step_pin: PC13                      # Y-axis motor pulse pin
dir_pin: PF0                        # orientation setting
enable_pin: !PF1                    # enable pin
rotation_distance: 40               # Drive wheel circumference mm (2GT-20T is 40mm, 16T is 32mm)
microsteps: 16                      # Segmentation
full_steps_per_rotation:200         # Number of pulses per revolution - set to 400 for 0.9 degree steps
#endstop_pin: ^PG13                 # Limit switch PIN setting (Y-) - Sensorless Home Replaced
endstop_pin: tmc2209_stepper_y:virtual_endstop # Sensorless Homing
position_min: 0                     # Soft limit minimum stroke
position_endstop: 358               # The mechanical reset point coordinates of the y-axis (if it is a 300 model, it needs to be changed to 300)
position_max: 358                   # The maximum stroke of the y-axis--software limit (if it is a 300 model, it needs to be changed to 300)
#homing_speed: 25                   # Reset speed max 100 - Sensorless Homing
homing_speed: 100                    # Sensorless Homing 
#homing_retract_dist: 5             # The retreat distance after the reset switch is triggered for the first time
homing_retract_dist: 0              # Sensorless homing
homing_positive_dir: true           # Reset direction (generally no need to change)

[tmc2209 stepper_y]                 # Stepper motor-y tmc2209 driver
uart_pin: PE4                      # Driver communication port
diag_pin: ^PG13
interpolate: true                   # Microstep Interpolation 256  ## Was True
run_current: 0.8                   # Running current mA
sense_resistor: 0.110               # Do not change the drive sampling resistor
stealthchop_threshold: 200          # Mute Threshold
driver_SGTHRS: 150                   # Sensorless Homing - 255 is most sensitive value, 0 is least sensitive
# Min + (Max - Min) / 3 = 78 + (117 - 78) / 3 = 91


####################################################################################
#  Z Stepper Settings
####################################################################################

#   z1 ---back --- z2
#   |              |
#   |              |
#   |              |
#   |              |
#   z0 ---Front--- z3


[stepper_z]                        ## Z stepper motor - front left in M3 Z-MOT Position
step_pin: PF13                      # Z motor pulse pin
dir_pin: PF12                      # orientation setting
enable_pin: !PF14                   # enable pin
rotation_distance: 40               # Drive wheel circumference mm (2GT-20T is 40mm, 16T is 32mm)
gear_ratio: 80:16                   # Reduction ratio
microsteps: 64                      # Segmentation
#endstop_pin: PG14
endstop_pin: probe:z_virtual_endstop
##  position_endstop is the distance from the Z limit pin trigger point relative to the printing surface (Z0)
##  Positive value = end point above platform, negative value = end point below platform
##	Increasing the value of position_endstop will bring the nozzle closer to the bed
##  After running Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the end of the CFG configuration
#position_endstop: 1.950            # Modify according to actual
position_max: 290                   # Z axis maximum printing height
position_min: -7                   # Soft limit minimum stroke
homing_speed: 30                     # Reset Speed ​​- Max 20
second_homing_speed: 3              # Secondary reset speed - 10 max
homing_retract_dist: 3              # retreat distance


[tmc2209 stepper_z]                 # Stepper motor - z tmc2209 driver
uart_pin: PD11                      # Driver communication port
uart_address: 0
interpolate: true                  # Microstep Interpolation 256
run_current: 0.8                    # Running current mA
sense_resistor: 0.110               # Do not change the drive sampling resistor
stealthchop_threshold: 999999       # Mute Threshold


[stepper_z1]                       ## Z1 stepper motor - Rear left in M5 E1-MOT Position
step_pin: PG0                       # Z1 motor pulse pin
dir_pin: !PG1                       # orientation setting
enable_pin: !PF15                   # enable pin
rotation_distance: 40               # Drive wheel circumference mm (2GT-20T is 40mm, 16T is 32mm)
gear_ratio: 80:16                   # Reduction ratio
microsteps: 64                      # Segmentation

[tmc2209 stepper_z1]                # Stepper motor - z1 tmc2209 driver
uart_pin: PC7                       # Driver communication port
interpolate: true                   # Microstep Interpolation 256
run_current: 0.8                    # Running current mA
sense_resistor: 0.110               # Do not change the drive sampling resistor
stealthchop_threshold: 999999       # Mute Threshold


[stepper_z2]                       ## Z2 stepper motor - Rear right in M6 E2-MOT Position
step_pin: PF11                      # Z2 motor pulse pin
dir_pin: PG3                        # orientation setting
enable_pin: !PG5                    # enable pin
rotation_distance: 40               # Drive wheel circumference mm (2GT-20T is 40mm, 16T is 32mm)
gear_ratio: 80:16                   # Reduction ratio
microsteps: 64                      # Segmentation

[tmc2209 stepper_z2]                # Stepper motor - z2 tmc2209 driver
uart_pin: PC6                      # Driver communication port
interpolate: true                  # Microstep Interpolation 256
run_current: 0.8                    # Running current mA
sense_resistor: 0.110               # Do not change the drive sampling resistor
stealthchop_threshold: 999999       # Mute Threshold


[stepper_z3]                       ## Z3 stepper motor - front right in M7 E3-MOT Position
step_pin: PG4                       # Z3 motor pulse pin
dir_pin: !PC1                       # orientation setting
enable_pin: !PA0                    # enable pin
rotation_distance: 40               # Drive wheel circumference mm (2GT-20T is 40mm, 16T is 32mm)
gear_ratio: 80:16                   # Reduction ratio
microsteps: 64                      # Segmentation

[tmc2209 stepper_z3]                # Stepper motor - z3 tmc2209 driver
uart_pin: PC4                       # Driver communication port
interpolate: true                   # Microstep Interpolation 256
run_current: 0.8                    # Running current mA
sense_resistor: 0.110               # Do not change the drive sampling resistor
stealthchop_threshold: 999999       # Mute Threshold
