####################################################################################
#      Master ID Configuration
####################################################################################

[duplicate_pin_override]
pins: ADC_TEMPERATURE,temperature_mcu,PF5

[mcu]
#serial: /dev/ttyAMA0
#serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_36003A000A5053424E363420-if00
#restart_method: command
#baud: 250000
canbus_uuid: 3eaf2d8636b9

# Firmware Flashing:
# https://docs.vorondesign.com/build/software/spider_klipper.html
# Device ID: 0483:df11

# Firmware Update Process:
# 1. cd ~/klipper && rm -rf ~/klipper/.config && rm -rf ~/klipper/out && make menuconfig
# 2. In the menuconfig interface:  
# 	-Set the micro-controller architecture is set to STMicroelectronics STM32
# 	-Set the Processor model to STM32F446
# 	-set the Bootloader offset to 32KiB bootloader
# 	-Set the Clock Reference to 12 MHz crystal
# 	-Set the Communication interface to USB (on PA11/PA12)
#   -Press `Q`, then `Y` to save and exit. 
# 3. sudo service klipper stop
# 4. cd ~/klipper
# 5. make flash FLASH_DEVICE=/dev/serial/by-id/usb-Klipper_stm32f446xx_2A0035001851303439363932-if00
# 6. sudo service klipper start

[printer]                           # Printer Settings
kinematics: corexy                  # Kinematic structure is divided into Cartesian and corexy, etc. Voron2.4 is corexy
max_velocity: 300                   # Maximum speed
max_z_velocity: 15                  # Z-axis maximum speed
max_z_accel: 300                    # Z axis maximum acceleration
square_corner_velocity: 5.0         # Square corner speed, a smaller one can effectively avoid the inertia caused by platform weight
max_accel: 5000                     # Maximum acceleration up to 4000


####################################################################################
#   Included Configs
####################################################################################

# [include eddy.cfg]                   # Z-offset function for eddy sensor
#[include eddy_setup.cfg]             # Eddy Setup/Calibration config
[include KAMP_Settings.cfg]          # Adaptive Mesh and Purge Config
[include K-ShakeTune/*.cfg]          # Klippain Shake & Tune
[include LED-control.cfg]            # Steathburner LED and Chamber LED
[include macros.cfg]                 # Macro Configs
[include moonraker_obico_macros.cfg] # Obico Settings
[include motion-control.cfg]         # Motors and extruder
[include thermal-control.cfg]        # Heaters and Fans
[include SB2040-Pro_v3.cfg]          # SB2040-Pro Alis File for Mellow Fly SB2040 v3
#[include mainsail.cfg]              # Mainsail CFG (not used, for reference only)


####################################################################################
#   Bed Mesh
####################################################################################

# [bed_mesh]                        # Klicky
# speed: 200                        # Calibration speed
# horizontal_move_z: 10             # Z axis lift
# mesh_min: 40, 40                  # Minimum calibration point coordinates x, y
# mesh_max: 310,310                 # Maximum calibration point coordinates x, y
# fade_start: 0.6                   # Start phasing out the adjusted Z height. Before starting the fade process, it's best to reduce a few layers
# fade_end: 10.0                    # This value can be adjusted according to how curved the printing surface is
# fade_target: 0                    # Can be considered as an additional z offset applied to the entire bed after the fade is complete
# probe_count: 5,5                  # Number of sampling points (5X5 is 25 points)
# algorithm: bicubic                # Algorithm model
# zero_reference_position: 175,175  # Calibration location (matches Auto Z Ref Location)

# [bed_mesh]                          # Eddy
# speed: 200                          # Calibration speed
# horizontal_move_z: 2                # Z axis lift
# mesh_min: 15, 22                    # Minimum calibration point coordinates x, y
# mesh_max: 310,310                   # Maximum calibration point coordinates x, y
# fade_start: 1.04                    # Start phasing out the adjusted Z height. Before starting the fade process, it's best to reduce a few layers
# fade_end: 10.0                      # This value can be adjusted according to how curved the printing surface is
# fade_target: 0                      # Can be considered as an additional z offset applied to the entire bed after the fade is complete
# probe_count: 20, 20                 # Number of sampling points (5X5 is 25 points)
# mesh_pps: 2, 3                      # Mesh Points Per Segment
# algorithm: bicubic                  # Algorithm model
# zero_reference_position: 175,175    # Calibration location (matches Auto Z Ref Location)

[bed_mesh]                         ## TAP
speed: 550
probe_count: 5
horizontal_move_z: 1
algorithm: bicubic
mesh_min: 25,25
mesh_max: 325,325
zero_reference_position: 175, 175
fade_start: 0.6
fade_end: 10.0


####################################################################################
#   Beeper
####################################################################################

# [output_pin beeper]
# pin: PC9
# value: 0
# shutdown_value: 0
# pwm: True
# cycle_time: 0.0005        # Default beeper tone in kHz. 1 / 0.0005 = 2000Hz (2kHz)


####################################################################################
#   Filament Run-out Sensor
####################################################################################

# [filament_switch_sensor Switch_sensor]
# switch_pin: PA2
# pause_on_runout: False
# runout_gcode:
    # FILAMENT_RUNOUT
	# M117 Filament switch runout
# insert_gcode:
    # M117 Filament switch inserted


# [filament_motion_sensor Encoder_sensor]
# switch_pin: !PA1
# detection_length: 7
# extruder: extruder
# pause_on_runout: False
# runout_gcode:
    # FILAMENT_RUNOUT
	# M117 Filament encoder runout
# insert_gcode:
  # M117 Filament encoder inserted
# event_delay: 3.0
# pause_delay: 0.5

[filament_switch_sensor Toolhead_Filament_Sensor]
pause_on_runout: false
switch_pin: ^SB2040-PRO:LIMIT_FIL
runout_gcode:     
    FILAMENT_RUNOUT
	M117 Toolhead Filament switch runout
insert_gcode: 
event_delay: 3.0
pause_delay: 0.5



####################################################################################
#   Gantry Leveling
####################################################################################

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	50,25
	50,275
	300,275
	300,25
speed: 200                    # leveling speed
horizontal_move_z: 15          # Z axis starting height
retries: 10                   # Number of out-of-tolerance retries
retry_tolerance: 0.01         # Sampling Tolerance
max_adjust: 10                # Leveling maximum adjustment stroke


####################################################################################
#   Input Shaper
####################################################################################

# [input_shaper]
# shaper_freq_x: 53.8     # center frequency for the X axis filter
# shaper_type_x: mzv      # filter type for the X axis
# damping_ratio_x: 0.038  # damping ratio for the X axis - Was 0.046
# shaper_freq_y: 44.0     # center frequency for the Y axis filter
# shaper_type_y: mzv      # filter type for the Y axis
# damping_ratio_y: 0.045  # damping ratio for the Y axis - was 0.043


####################################################################################
#   Klippain Shake & Tune
####################################################################################

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
#number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.


####################################################################################
#   Misc Configs
####################################################################################

[display_status]                      ## Output Progress of Print to Display

[exclude_object]                      ## Exclude/Abort Objects in a Print

[force_move]                          ## Force move for sensorless homing and eddy macros
enable_force_move: True

[idle_timeout]                        ## Commands to execute on an idle timeout
timeout: 1800                          # Idle time (in seconds) to wait before running the above G-Code commands
gcode:
  PRINT_IDLE_TIMEOUT

[pause_resume]                        ## Pause/Resume Functionality

#[Respond]                             ## Allows Host to respond - removed during eddy install

[virtual_sdcard]                      ## Enable virtual SD card
path: /home/pi/printer_data/gcodes     #~/gcode_files     # Set the octoprint upload directory as the root directory of the virtual SD card

####################################################################################
#   Auto Save Configs
####################################################################################
#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 51.505
#*# pid_ki = 2.641
#*# pid_kd = 251.087
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.623
#*# pid_ki = 2.398
#*# pid_kd = 73.880