####################################################################################
#      Master ID Configuration
####################################################################################

[mcu]
#canbus_uuid: a86b2a724381
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_3E0053000451343437373238-if00
#serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_2A0035001851303439363932-if00
#restart_method: command

# Firmware Flashing (Spider):
# https://docs.vorondesign.com/build/software/spider_klipper.html
# Device ID: 0483:df11

# Firmware Update Process:
# 1. cd ~/klipper && rm -rf ~/klipper/.config && rm -rf ~/klipper/out && make menuconfig
# 2. In the menuconfig interface:  
# 	-Set the micro-controller architecture is set to STMicroelectronics STM32
# 	-Set the Processor model to STM32F446
# 	-set the Bootloader offset to 32KiB bootloader
# 	-Set the Clock Reference to 12 MHz crystal
# 	-Set the Communication interface to USB (on PA11/PA12)
#   -Press `Q`, then `Y` to save and exit. 
# 3. sudo service klipper stop
# 4. cd ~/klipper
# 5. make flash FLASH_DEVICE=/dev/serial/by-id/usb-Klipper_stm32f446xx_2A0035001851303439363932-if00
# 6. sudo service klipper start

# Firmware Flashing (Octopus):
# https://docs.vorondesign.com/build/software/octopus_klipper.html
# Device ID: 0483:df11

# Firmware Update Process:
# 1. cd ~/klipper && rm -rf ~/klipper/.config && rm -rf ~/klipper/out && make menuconfig
# 2. In the menuconfig interface:  
# 	-Set the micro-controller architecture is set to STMicroelectronics STM32
# 	-Set the Processor model to STM32F446
# 	-set the Bootloader offset to 32KiB bootloader
# 	-Set the Clock Reference to 12 MHz crystal
# 	-Set the Communication interface to USB to Can bus Bridge
#   -Set Can bus on PD0/PD1
#   -Press `Q`, then `Y` to save and exit. 
# 3. sudo service klipper stop
# 4. cd ~/klipper
# 5. Run lsusb. and find the ID of the dfu device. The device is typically named STM Device in DFU mode
# 6. Run make flash FLASH_DEVICE=1234:5678, replacing 1234:5678 with the ID from the previous step
# 7. sudo service klipper start
# 8. Power off the Octopus
# 9. Remove the jumper from BOOT0 and 3.3V
# 10. Power on the Octopus


[printer]                           # Printer Settings
kinematics: corexy                  # Kinematic structure is divided into Cartesian and corexy, etc. Voron2.4 is corexy
max_velocity: 300                   # Maximum speed
max_z_velocity: 15                  # Z-axis maximum speed
max_z_accel: 300                    # Z axis maximum acceleration
square_corner_velocity: 5.0         # Square corner speed, a smaller one can effectively avoid the inertia caused by platform weight
max_accel: 5000                     # Maximum acceleration up to 4000


####################################################################################
#   Included Configs
####################################################################################

[include eddy.cfg]                   # Z-offset function for eddy sensor
# [include eddy_setup.cfg]             # Eddy Setup/Calibration config
[include KAMP_Settings.cfg]          # Adaptive Mesh and Purge Config
[include K-ShakeTune/*.cfg]          # Klippain Shake & Tune
[include LED-control.cfg]            # Steathburner LED and Chamber LED
[include macros.cfg]                 # Macro Configs
[include moonraker_obico_macros.cfg] # Obico Settings
[include motion-control.cfg]         # Motors and extruder
[include thermal-control.cfg]        # Heaters and Fans
[include SB2040-Pro_v3.cfg]          # SB2040-Pro Alis File for Mellow Fly SB2040 v3
#[include mainsail.cfg]              # Mainsail CFG (not used, for reference only)


####################################################################################
#   Bed Mesh
####################################################################################

# [bed_mesh]                        # Klicky
# speed: 200                        # Calibration speed
# horizontal_move_z: 10             # Z axis lift
# mesh_min: 40, 40                  # Minimum calibration point coordinates x, y
# mesh_max: 310,310                 # Maximum calibration point coordinates x, y
# fade_start: 0.6                   # Start phasing out the adjusted Z height. Before starting the fade process, it's best to reduce a few layers
# fade_end: 10.0                    # This value can be adjusted according to how curved the printing surface is
# fade_target: 0                    # Can be considered as an additional z offset applied to the entire bed after the fade is complete
# probe_count: 5,5                  # Number of sampling points (5X5 is 25 points)
# algorithm: bicubic                # Algorithm model
# zero_reference_position: 175,175  # Calibration location (matches Auto Z Ref Location)

[bed_mesh]                          # Eddy
speed: 200                          # Calibration speed
horizontal_move_z: 3                # Z axis lift
mesh_min: 15, 22                    # Minimum calibration point coordinates x, y
mesh_max: 310,310                   # Maximum calibration point coordinates x, y
fade_start: 1.04                    # Start phasing out the adjusted Z height. Before starting the fade process, it's best to reduce a few layers
fade_end: 10.0                      # This value can be adjusted according to how curved the printing surface is
fade_target: 0                      # Can be considered as an additional z offset applied to the entire bed after the fade is complete
probe_count: 20, 20                 # Number of sampling points (5X5 is 25 points)
mesh_pps: 2, 3                      # Mesh Points Per Segment
algorithm: bicubic                  # Algorithm model
zero_reference_position: 175,175    # Calibration location (matches Auto Z Ref Location)


####################################################################################
#   Beeper
####################################################################################

[output_pin beeper]
pin: PE8
value: 0
shutdown_value: 0
pwm: True
cycle_time: 0.0005        # Default beeper tone in kHz. 1 / 0.0005 = 2000Hz (2kHz)


####################################################################################
#   Filament Run-out Sensor
####################################################################################

[filament_switch_sensor Switch_sensor]
switch_pin: PG6
pause_on_runout: False
runout_gcode:
    FILAMENT_RUNOUT
	M117 Filament switch runout
insert_gcode:
    M117 Filament switch inserted


[filament_motion_sensor Encoder_sensor]
switch_pin: PG9
detection_length: 7
extruder: extruder
pause_on_runout: False
runout_gcode:
    FILAMENT_RUNOUT
	M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted
event_delay: 3.0
pause_delay: 0.5


####################################################################################
#   Gantry Leveling
####################################################################################

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	50,25
	50,275
	300,275
	300,25
speed: 200                    # leveling speed
horizontal_move_z: 3          # Z axis starting height
retries: 10                   # Number of out-of-tolerance retries
retry_tolerance: 0.01         # Sampling Tolerance
max_adjust: 10                # Leveling maximum adjustment stroke


####################################################################################
#   Input Shaper
####################################################################################

[input_shaper]
shaper_freq_x: 56.4     # center frequency for the X axis filter
shaper_type_x: mzv      # filter type for the X axis
damping_ratio_x: 0.046  # damping ratio for the X axis - Was 0.046
shaper_freq_y: 41.2     # center frequency for the Y axis filter
shaper_type_y: mzv      # filter type for the Y axis
damping_ratio_y: 0.056  # damping ratio for the Y axis - was 0.043


####################################################################################
#   Klippain Shake & Tune
####################################################################################

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
#number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.


####################################################################################
#   Misc Configs
####################################################################################

[display_status]                      ## Output Progress of Print to Display

[exclude_object]                      ## Exclude/Abort Objects in a Print

[force_move]                          ## Force move for sensorless homing and eddy macros
enable_force_move: True

[idle_timeout]                        ## Commands to execute on an idle timeout
timeout: 1800                          # Idle time (in seconds) to wait before running the above G-Code commands
gcode:
  PRINT_IDLE_TIMEOUT

[pause_resume]                        ## Pause/Resume Functionality

#[Respond]                             ## Allows Host to respond - removed during eddy install

[virtual_sdcard]                      ## Enable virtual SD card
path: /home/pi/printer_data/gcodes     #~/gcode_files     # Set the octoprint upload directory as the root directory of the virtual SD card


####################################################################################
#   Auto Save Configs
####################################################################################
#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 56.122
#*# pid_ki = 2.616
#*# pid_kd = 300.952
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.432
#*# pid_ki = 2.630
#*# pid_kd = 66.411
#*#
#*# [probe_eddy_current fly_eddy_probe]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050000:1360475.916,0.090000:1359573.668,0.130000:1358693.777,
#*# 	0.170000:1357829.150,0.210000:1356977.164,0.250000:1356113.503,
#*# 	0.290000:1355283.099,0.330000:1354478.071,0.370000:1353679.161,
#*# 	0.410000:1352879.575,0.450000:1352109.767,0.490000:1351347.427,
#*# 	0.530000:1350608.031,0.570000:1349876.098,0.610000:1349155.803,
#*# 	0.650000:1348460.815,0.690000:1347779.216,0.730000:1347099.142,
#*# 	0.770000:1346439.496,0.810000:1345793.858,0.850000:1345162.100,
#*# 	0.890000:1344517.387,0.930000:1343901.964,0.970000:1343314.094,
#*# 	1.010000:1342785.358,1.050000:1342150.181,1.090000:1341632.210,
#*# 	1.130000:1341002.659,1.170000:1340479.950,1.210000:1339913.474,
#*# 	1.250000:1339354.633,1.290000:1338810.814,1.330000:1338284.263,
#*# 	1.370000:1337735.476,1.410000:1337194.402,1.450000:1336667.827,
#*# 	1.490000:1336145.616,1.530000:1335615.749,1.570000:1335097.092,
#*# 	1.610000:1334593.197,1.650000:1334097.508,1.690000:1333567.634,
#*# 	1.730000:1333061.849,1.770000:1332562.588,1.810000:1332054.594,
#*# 	1.850000:1331542.511,1.890000:1331040.800,1.930000:1330552.758,
#*# 	1.970000:1330062.253,2.010000:1329565.761,2.050000:1329084.539,
#*# 	2.090000:1328611.562,2.130000:1328132.264,2.170000:1327657.054,
#*# 	2.210000:1327197.772,2.250000:1326729.174,2.290000:1326292.503,
#*# 	2.330000:1325834.775,2.370000:1325377.581,2.410000:1324920.413,
#*# 	2.450000:1324489.618,2.490000:1324054.914,2.530000:1323633.240,
#*# 	2.570000:1323203.373,2.610000:1322797.481,2.650000:1322372.594,
#*# 	2.690000:1321963.582,2.730000:1321560.758,2.770000:1321165.491,
#*# 	2.810000:1320768.471,2.850000:1320379.992,2.890000:1319994.470,
#*# 	2.930000:1319617.332,2.970000:1319236.700,3.010000:1318865.301,
#*# 	3.050000:1318509.227,3.090000:1318151.299,3.130000:1317795.843,
#*# 	3.170000:1317447.645,3.210000:1317093.030,3.250000:1316776.696,
#*# 	3.290000:1316437.510,3.330000:1316110.093,3.370000:1315787.283,
#*# 	3.410000:1315470.665,3.450000:1315149.873,3.490000:1314836.985,
#*# 	3.530000:1314535.229,3.570000:1314239.479,3.610000:1313937.583,
#*# 	3.650000:1313647.138,3.690000:1313358.853,3.730000:1313076.115,
#*# 	3.770000:1312796.530,3.810000:1312513.494,3.850000:1312247.940,
#*# 	3.890000:1311974.826,3.930000:1311707.620,3.970000:1311447.221,
#*# 	4.010000:1311190.447,4.050000:1310935.311
#*#
#*# [temperature_probe fly_eddy_probe]
#*# calibration_temp = 24.274626
#*# drift_calibration =
#*# 	1363910.624581, -257.700245, 1.493080
#*# 	1353368.970118, -220.588632, 1.193598
#*# 	1344873.042627, -188.749311, 0.949560
#*# 	1337368.224939, -146.233185, 0.650907
#*# 	1329978.152746, -89.275251, 0.292773
#*# 	1323633.410896, -51.494952, 0.093066
#*# 	1318328.556186, -25.105806, -0.047709
#*# 	1313973.085037, -6.777189, -0.147409
#*# 	1310340.887978, 7.716531, -0.229078
#*# drift_calibration_min_temp = 27.304801887445667
