####################################################################################
#   Bed Heater
####################################################################################

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF3
max_power: 0.9                # Hot bed power - Kyle - was 0.6
min_temp: 0                   # Minimum temperature (note: the measured temperature exceeding the set value will trigger an emergency stop)
max_temp: 130                 # Maximum temperature (Note: Measuring temperature exceeding the set value will trigger an emergency stop)
control: pid
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[verify_heater heater_bed]
max_error: 120                # Allow up to 2 min total deviation before error
check_gain_time: 30           # Check temperature every 30 seconds
heating_gain: 2               # Expect at least 4°C increase every 30s
hysteresis: 6                 # Allow ±6°C tolerance to avoid false shutdowns

####################################################################################
#   Chamber Temperature & Exhaust Fan - No Fan on Voron 2
####################################################################################

[temperature_fan chamber]
pin: PD12
mAx_power: 0.8
shutdown_speed: 0.0
kick_start_time: 0.5
cycle_time:0.1
off_below:0.1
sensor_type: Generic 3950
sensor_pin: PF4
min_temp: -100
max_temp: 70
target_temp: 30.0
control: watermark
gcode_id: C


####################################################################################
#   Fan Control
####################################################################################

[heater_fan hotend_fan]
pin: SB2040-PRO:FAN_HE
max_power: 1.0
kick_start_time: 0.1
heater: extruder
heater_temp: 50.0
fan_speed: 0.9
shutdown_speed: 0
cycle_time: 0.010

[fan]
pin: SB2040-PRO:FAN_PC
cycle_time: 0.1
max_power: 1.0
kick_start_time: 0.25
off_below: 0.10

[controller_fan driver_fans]
pin: PE5
max_power: 1
shutdown_speed: 0
stepper: stepper_x, stepper_y
fan_speed: 0.7
idle_timeout: 10

[multi_pin skirt_fan_pins]
pins: PD14,PD15

[temperature_fan pi_fan]
pin: PA8
target_temp: 50
max_power: 0.6
off_below: 0.31
sensor_type: temperature_host
min_temp: 0
max_temp: 100
control = watermark
min_speed: 0
max_speed: 1
shutdown_speed: 0
kick_start_time: 0.25

[controller_fan skirt_fans]
pin: multi_pin:skirt_fan_pins
kick_start_time: 0.2
fan_speed: 0.7
idle_timeout: 10
heater: heater_bed
stepper: stepper_x, stepper_y, stepper_z

[controller_fan SB2040_fan]
pin: SB2040-PRO:FAN_SB2040
kick_start_time: 0.2
fan_speed: 0.5
idle_timeout: 10
stepper: extruder
heater: extruder


####################################################################################
#   Pi and MCU temperature monitoring
####################################################################################

[temperature_sensor MCU_CPU]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 85

[temperature_sensor Pi_CPU]
sensor_type: temperature_host
sensor_path:/sys/class/thermal/thermal_zone0/temp
min_temp: 0
max_temp: 85

[temperature_sensor SB2040_CPU]
sensor_type: temperature_mcu
sensor_mcu: SB2040-PRO
min_temp: 0
max_temp: 85